 .u-section-1 {
  background-image: url("images/32592-echo_lp_1920x400_REPLACEMENT.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 463px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 3rem;
  margin: 53px 610px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 500;
  margin: 35px auto 60px 0;
  padding: 17px 26px 18px 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 53.78% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 11px 18px 12px 17px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 904px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 20px;
  font-size: 1.875rem;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  width: 176px;
  margin: 40px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 10px 171px 10px 169px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 10px 91px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 111px 10px 110px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 119px;
}

.u-section-2 .u-image-1 {
  height: 123px;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 32px auto 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 500;
  margin: 20px auto 25px 0;
  padding: 17px 26px 18px 25px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 101px;
    padding-left: 100px;
  }

  .u-section-2 .u-btn-2 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 1rem;
    padding-left: 54px;
    padding-right: 54px;
  }

  .u-section-2 .u-btn-4 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 32px;
    margin-right: 0;
    padding: 11px 71px 12px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 104px;
}

.u-section-3 .u-accordion-1 {
  margin-bottom: -950px;
  margin-top: 26px;
}

.u-section-3 .u-accordion-link-1 {
  font-weight: 700;
  font-size: 1.125rem;
  padding: 10px 0;
}

.u-section-3 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 271px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-image-1 {
  width: 195px;
  height: 67px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 62px;
  height: 67px;
  margin: -67px auto 0 195px;
}

.u-section-4 .u-image-3 {
  width: 195px;
  height: 82px;
  margin: 17px auto 0 0;
}

.u-section-4 .u-image-4 {
  width: 69px;
  height: 48px;
  margin: -65px auto -733px 212px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-4 {
    height: 49px;
  }
}